# Gitignore settings for Sonic Device - Local API Python Library

# Ignored files
is_daily_usage_reset.txt
telemetry_data.json
daily_volume.txt

# Ignored folders
.idea/
venv/
src/__pycache__
src/data_folder/
```
