# Gitignore settings for Sonic Device - Local API Python Library

# Ignored files
is_daily_usage_reset.txt
telemetry_data.json
daily_volume.txt

# Ignored folders
.idea/
venv/
sonic_local/__pycache__
sonic_local/data_folder/
```
